@import "tailwindcss";



@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default browser white/grey scrollbar ko remove aur sleek dark banana */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0B0F17;
}

::-webkit-scrollbar-thumb {
  background: #1E293B;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0B0F17;
  overflow: hidden; /* Main window scroll completely lock */
}